

.column {
    display: flex;
    flex-direction: column;
    flex: 1; /* 平均分配宽度 */
    padding: 0 10px; /* 可选：增加内边距 */
}

.column ul {
    list-style-type: none; /* 移除列表默认样式 */
    padding: 0;
}

.column ul li {
    margin-bottom: 10px; /* 可选：增加项目之间的间距 */
}

a.nav-link{
    margin:0px;
    padding: 0px;
}