/* 背景层 */
.background-layer {
    position: fixed; /* 固定位置 */
    top: 150px;
    right: 0px; /* 从右侧开始，确保背景始终靠右 */
    width: 800px;
    height: 600px;
    background-size: cover;
    background-position: right center; /* 背景图片靠右并垂直居中 */
    background-repeat: no-repeat;
    z-index: -1; /* 确保背景在内容下面 */
    @media only screen and (max-width: 768px) {
        top: 180px;
        width: 650px;
        height: 450px;
        left: 30px;
      }
  }
  
  /* 内容层 */
  .content-layer {
    position: relative; /* 相对定位 */
    width: 100%; 
    height: 600px; /* 视窗高度 */
    display: flex; /* 使用flex布局 */
    flex-direction: column; /* 垂直排列 */
    justify-content: center; /* 垂直居中 */
    align-items: center; /* 水平居中 */
    text-align: center; /* 水平居中 */
    z-index: 1; /* 确保内容在背景上面 */
  }
  
  .content-layer span {
    color: #9A1E23;
    font-family: 'customOPPOSans';
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .content-layer .first-line {
    font-size: 48px;
    @media only screen and (max-width: 768px) {
        font-size: 17px;
      }
  }
  
  .content-layer .second-line {
    font-size: 96px;
    @media only screen and (max-width: 768px) {
        font-size: 28px;
      }
  }
  